<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1">
        <title>Frequently Asked Questions</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <h1 align="center">User Frequently Asked Questions</h1>
            <h3 align="center">User Frequently Asked Questions Add Form</h3>
            <form action="#" th:action="@{/saveUserFaq}" th:object = "${user}" method="POST">
                <div class="form-group">
                    <label for="exampleFormControlInput1">First Name</label>
                    <input  class="form-control" type="text" th:field = "*{firstname}" placeholder="Enter First Name" id="exampleFormControlInput1">
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlInput2">Last Name</label>
                    <input  class="form-control" type="text" th:field = "*{lastname}" placeholder="Enter First Name" id="exampleFormControlInput2">
                  </div>
                <div class="form-group">
                  <label for="exampleFormControlInput3">Email address</label>
                  <input  class="form-control" type="text" th:field = "*{email}" placeholder="Enter First Name" id="exampleFormControlInput3">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput4">Age</label>
                    <input  class="form-control" type="text" th:field = "*{age}" placeholder="Enter First Name" id="exampleFormControlInput4">
                  </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Frequently Asked Question</label>
                  <textarea type="text" th:field = "*{question}" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-info col-2">Save Your FAQ</button>
            </form>  
        </div>
    </body>
</html>